@import "tailwindcss";

:root {
  --background: #101828;
  --primary: #2dd4bf;
  --secondary: #d1d5dc;
  --border: #36415380;
  --card-bg: #1e29394d;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-card-bg: var(--card-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-change-color: change-color 2.5s infinite;

  @keyframes change-color {
    0% {
      border-color: #fff;
      color: #fff;
    }

    10% {
      border-color: #000;
      color: #000;
    }

    20% {
      border-color: #ff0;
      color: #ff0;
    }

    30% {
      border-color: #f00;
      color: #f00;
    }

    40% {
      border-color: #fff;
      color: #fff;
    }

    50% {
      border-color: #f0f;
      color: #f0f;
    }

    60% {
      border-color: #fff;
      color: #fff;
    }

    70% {
      border-color: #00f;
      color: #00f;
    }

    80% {
      border-color: #0ff;
      color: #0ff;
    }

    90% {
      border-color: #0f0;
      color: #0f0;
    }

    100% {
      border-color: #fff;
      color: #fff;
    }
  }
}
