@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

#root {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  background-color: #000044;
}

a {
  outline: none !important;
  box-shadow: none !important;
}

.h-line {
  height: 2px;
}

/* ------------ Loader ----------------- */
.loader {
  background-color: transparent;
  height: 100vh;
}

.loader-frame {
  padding: 10px 50px;
  border-color: #fff;
  border-style: solid;
  animation-name: change, revolve;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes change {
  0% {
    border-color: #fff;
    color: #fff;
  }

  10% {
    border-color: #000;
    color: #000;
  }

  20% {
    border-color: #ff0;
    color: #ff0;
  }

  30% {
    border-color: #f00;
    color: #f00;
  }

  40% {
    border-color: #fff;
    color: #fff;
  }

  50% {
    border-color: #f0f;
    color: #f0f;
  }

  60% {
    border-color: #fff;
    color: #fff;
  }

  70% {
    border-color: #00f;
    color: #00f;
  }

  80% {
    border-color: #0ff;
    color: #0ff;
  }

  90% {
    border-color: #0f0;
    color: #0f0;
  }

  100% {
    border-color: #fff;
    color: #fff;
  }
}

.loader-text {
  margin: 0 25px;
  font-size: 100px;
  animation: anti-revolve 2s infinite;
}

/* ------------ Navbar ----------------- */
header {
  transition: all 0.5s;
}

.hidden {
  top: -500px;
}

.nav-link:hover {
  color: #0dcaf0 !important;
}

.navbar-brand {
  animation: revolve 1.3s infinite;
  padding: 0 10px;
}

.navbar-brand>p {
  animation-name: change, anti-revolve;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  transform-origin: center;
}


@keyframes revolve {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(36deg);
  }

  20% {
    transform: rotate(72deg);
  }

  30% {
    transform: rotate(108deg);
  }

  40% {
    transform: rotate(144deg);
  }

  50% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(216deg);
  }

  70% {
    transform: rotate(252deg);
  }

  80% {
    transform: rotate(288deg);
  }

  90% {
    transform: rotate(324deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes anti-revolve {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(-36deg);
  }

  20% {
    transform: rotate(-72deg);
  }

  30% {
    transform: rotate(-108deg);
  }

  40% {
    transform: rotate(-144deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  60% {
    transform: rotate(-216deg);
  }

  70% {
    transform: rotate(-252deg);
  }

  80% {
    transform: rotate(-288deg);
  }

  90% {
    transform: rotate(-324deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* ------------ Home ----------------- */
section#home p:nth-child(2) {
  font-size: 40px;
}

@media (min-width: 768px) {
  section#home p:nth-child(2) {
    font-size: 70px;
  }
}

@media (min-width: 992px) {
  section#home p:nth-child(1) {
    font-size: 30px !important;
  }

  section#home p:nth-child(2) {
    font-size: 90px;
  }

  section#home p:nth-child(3) {
    font-size: 30px !important;
  }

  section#home a {
    font-size: 20px;
  }
}

/* ------------ About ----------------- */
.text-justify {
  text-align: justify;
}

#about ul {
  list-style-type: "👨‍💻";
}

@media (min-width: 1200px) {
  section#about p:nth-child(1) {
    line-height: 1.5 !important;
  }
}

/* ------------ Experience / Card ----------------- */
#card {
  height: 300px;
  width: 290px;
}

#line-h {
  height: 3em !important;
}

/* ------------ Work ----------------- */
#project-img>img:hover {
  opacity: 1 !important;
}

#project-text {
  background-color: #00002f;
}

#work a:hover i {
  color: #0dcaf0 !important;
}

@media (min-width: 768px) {
  #project-img>img {
    height: 300px;
    width: 400px;
  }

  .project-left {
    margin-left: -100px !important;
  }

  .project-right {
    margin-right: -100px !important;
  }
}

@media (min-width: 1200px) {
  #project-img>img {
    height: 300px;
    width: 400px;
  }

  .project-left {
    margin-left: 0 !important;
  }

  .project-right {
    margin-right: 0 !important;
  }

  .content-left {
    margin-left: -100px !important;
  }

  .content-right {
    margin-right: -100px !important;
  }
}

/* ------------ Contact ----------------- */
@media (min-width: 1200px) {
  section#contact p:nth-child(1) {
    line-height: 2 !important;
  }
}

/* ------------Left/Right View----------------- */
@media (min-width: 992px) {
  .left {
    position: fixed;
    left: 50px;
  }

  .right {
    right: 50px;
  }

  .right a {
    writing-mode: vertical-lr;
    font-size: 15px;
  }

  .view {
    bottom: 0;
    width: 50px;
  }

  .view ul {
    list-style: none;
  }

  .view a {
    text-decoration: none;
  }

  .view a:hover {
    color: #0dcaf0 !important;
    transform: scale(1.1);
    transition: all 0.5s ease;
  }

  .view a:hover i {
    color: #0dcaf0 !important;
  }
}

.view .line {
  width: 2px;
  height: 100px;
}

/* ------------ Footer ----------------- */
footer p:hover {
  color: #0dcaf0 !important;
}

.footer-text {
  font-size: 12px;
}

@media (min-width: 768px) {
  .contact-icons {
    font-size: 25px !important;
  }

  .footer-text,
  .footer-credit {
    font-size: 15px;
  }
}

/* ------------ ScrollBar ----------------- */
::-webkit-scrollbar {
  width: 0.5vw;
  background: #000044;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0dcaf0;
}